*-init.clj
/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.clj-kondo/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lsp/
.rebel_readline_history
.repl
.nrepl-port

.lein-failures
